<section class="filters-section">

    <div class="search-text-container">
        <mat-form-field appearance="outline">
            <mat-icon matPrefix>search</mat-icon>
            <mat-label>Cherche ta recette</mat-label>
            <input matInput placeholder="Poulet frit...">
        </mat-form-field>
    </div>

    <div class="filter-container">
        <button matMiniFab aria-label="fliter container" (click)="openBottomSheet()">
            <mat-icon>menu</mat-icon>
        </button>
    </div>

</section>

<section class="recipe-list">
    <ng-container *ngFor="let dishOverview of dishOverviews">
        <app-dish-overview-card [dishOverview]="dishOverview"></app-dish-overview-card>
    </ng-container>
</section>

<section class="pagination">

    <mat-paginator [length]="100" [pageSize]="10" aria-label="Select page">
    </mat-paginator>

</section>