<section class="dish-types">
    <article class="type">
        <mat-card class="example-card" appearance="outlined">
            <mat-card-header>
                <mat-icon mat-card-avatar class="example-header-image">
                    <div class="material-symbols-outlined glass-cup">rice_bowl</div>
                </mat-icon>
                <mat-card-title>Entrée</mat-card-title>
                <mat-card-subtitle>Petit plat mais essentiel</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="entree.jpg" alt="Photo of a first dish">
            <mat-card-content>
                <p>
                    L'entrée peut être vue comme un petit plat inutile, fastidieux et long à préparer pour un profit
                    limité.
                    Cependant, c'est une mise en bouche pour un repas réussi. Un démarrage chaud ou froid et plein de
                    saveur.
                    Ne la négligez pas.
                </p>
            </mat-card-content>
            <mat-card-actions>
                <button matButton>Liste des entrées</button>
            </mat-card-actions>
        </mat-card>
    </article>
    <article class="type">
        <mat-card class="example-card" appearance="outlined">
            <mat-card-header>
                <mat-icon mat-card-avatar class="example-header-image">
                    <div class="material-symbols-outlined glass-cup">restaurant</div>
                </mat-icon>
                <mat-card-title>Plat de résistance</mat-card-title>
                <mat-card-subtitle>Le gros du travail</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="plat_resistance.jpg" alt="Photo of a main dish">
            <mat-card-content>
                <p>
                    Le plat de résistance c'est le moment où on ne joue plus. De la gourmandise et de la régalade au
                    rendez-vous.
                    Affutez les couteaux, ça va swinguer.
                </p>
            </mat-card-content>
            <mat-card-actions>
                <button matButton>Liste des plats</button>
            </mat-card-actions>
        </mat-card>
    </article>
    <article class="type">
        <mat-card class="example-card" appearance="outlined">
            <mat-card-header>
                <mat-icon mat-card-avatar class="example-header-image">
                    <div class="material-symbols-outlined glass-cup">cookie</div>
                </mat-icon>
                <mat-card-title>Dessert</mat-card-title>
                <mat-card-subtitle>Un peu de douceur</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="dessert.jpg" alt="Photo of a desert">
            <mat-card-content>
                <p>
                    Bon maintenant qu'on a bien mangé il s'agirait de se faire plaisir pour finir.
                    Du sucre, du chocolat ou des fruits ; un peu de farine, de lait et le tour est joué.
                </p>
            </mat-card-content>
            <mat-card-actions>
                <button matButton>Liste des desserts</button>
            </mat-card-actions>
        </mat-card>
    </article>
</section>